<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>计算机学院教室课表</title>
</head>

<body>
{% for num, floor in number.items() %}
    <h1>{{ num }}号楼课表</h1>
    {% for key, value in floor.items() %}
    <div style="background-color: rgb(200, 200, 200); font-size: 16px;">{{ key }}楼</div>
    <ul>
        {% for room in value %}
            <li style="width: 20%; float:left;">
                <a href="{{ room }}.html" style="text-decoration: none;">{{ room }}</a>
            </li>
        {% endfor %}
    </ul>
    <br style="clear: both;" /> <br />
    {% endfor %}
{% endfor %}
</body>
</html>
